.slider {
  /* option 2 */
  height: 10px;
  background: linear-gradient(
    to right,
    rgb(255, 75, 141),
    rgb(1, 179, 255),
    rgb(255, 210, 28),
    rgb(9, 182, 9)
  );
}

.slider-text {
  display: inline-block;
  padding-left: 100%;
  /* animation: slide 12s linear infinite; */
}

.slider:hover .slider-text {
  animation-play-state: paused;
}

@media screen and (max-width: 768px) {
  .searchbox {
    margin-bottom: 24px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-65%);
  }
}
